doctype html
html(lang="pl")
	include templates/head.pug
	+head('Error')
	body
		include templates/header.pug
		+nav-notloggedin()
		main
			.container
				.section
					h5 Error
					p Wystąpił błąd: 
						span= error
		include templates/footer.pug