doctype html
html(lang="pl")
	include head.pug
	+head('Error')
	body
		include header.pug
		+nav-notloggedin()
		main
			.container
				.section
					h5 Error
					p Wystąpił błąd: #{error}
		include footer.pug