head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	style.
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
			font-family: 'Roboto', 'Calibri', sans-serif;
		}
		main {
			flex: 1 0 auto;
		}