doctype html
html(lang='en')
	include templates/head.pug
	+head('Obecnosci')
	body
		include templates/header.pug
		+nav('obecnosci')
		main
			.container
				.section
					table.striped#table
		include templates/footer.pug
		script(src="/js/obecnosci.js")