doctype html
html(lang="pl")
	include templates/head.pug
	+head('Oceny')
	body
		include templates/header.pug
		+nav('oceny')
		main
			.container
				.section
					h5#srednia Twoja średnia: 
					a(class="btn waves-effect waves-light", href="javascript:filter('ostatniMiesiac')") Ostatni miesiąc 
					a(class="btn waves-effect waves-light", href="javascript:wszystkie()") Wszystkie
					.input-field.inline
						input#szukaj
						label(for="szukaj") Szukaj
					a(class="btn waves-effect waves-light", href="javascript:filter('szukaj')") Szukaj
					br
					br
					table.striped#table
		include templates/footer.pug
		script(src="/js/oceny.js")