doctype html
html(lang="pl")
	include templates/head.pug
	+head('Pulpit')
	body
		include templates/header.pug
		+nav('pulpit')
		main
			.container
				.section
					.row
						.col.s12.m6
							.card.teal.darken-1
								.card-content.white-text
									span.card-title Dzisiaj
									p
										span#dzisiaj-lekcje
										br
										span#dzisiaj-sprawdziany
										br
										span#dzisiaj-zadania
										br
										span#dzisiaj-wydarzenia
								.card-action(style="display: flex; flex-wrap: wrap")
									a(href="/plan/") Plan
									a(href="/sprawdziany/") Sprawdziany
									a(href="/zadania/") Zadania
									a(href="/wydarzenia/") Wydarzenia
						.col.s12.m6
							.card.teal.darken-1
								.card-content.white-text
									span.card-title Jutro
									p
										span#jutro-lekcje
										br
										span#jutro-sprawdziany
										br
										span#jutro-zadania
										br
										span#jutro-wydarzenia
								.card-action(style="display: flex; flex-wrap: wrap")
									a(href="/plan/") Plan
									a(href="/sprawdziany/") Sprawdziany
									a(href="/zadania/") Zadania
									a(href="/wydarzenia/") Wydarzenia
		include templates/footer.pug
		script(src="/js/pulpit.js")