doctype html
html(lang='en')
	include templates/head.pug
	+head('Zadania')
	body
		include templates/header.pug
		+nav('zadania')
		main
			.container
				.section
					table.striped
						each zadanie in list
							tr
								td!= zadanie.przedmiot
								td!= zadanie.dataZ
								td!= zadanie.dataO
								td!= zadanie.temat
		include templates/footer.pug