doctype html
html(lang='en')
	include templates/head.pug
	+head('Zadania')
	body
		include templates/header.pug
		+nav('zadania')
		main
			.container
				.section
					table.striped
						tr
							th Przedmiot
							th Data zadania
							th Data oddania
							th Temat
						each zadanie in zadania
							tr
								td!= zadanie.przed
								td!= zadanie.dataZ
								td!= zadanie.dataO
								td
									a(href="/zadanie/?id="+zadanie._recordId)= zadanie.tytul
		include templates/footer.pug