doctype html
html(lang='en')
	include templates/head.pug
	+head('Zadanie')
	body
		include templates/header.pug
		+nav('zadania')
		main
			.container
				.section
					p!= zadanie
					p
						a(href="/zadania/") Powrót
		include templates/footer.pug