doctype html
html(lang='en')
	include templates/head.pug
	+head('Zadania')
	body
		include templates/header.pug
		+nav('zadania')
		main
			.container
				.section
					a.btn.waves-effect.waves-light(href='javascript:zadania_wszystkie()') Wszystkie
					a.btn.waves-effect.waves-light(href='javascript:zadania_nadchodzace()') Nadchodzące
					br
					br
					table.striped
						thead
							tr
								th Przedmiot
								th Data zadania
								th Data oddania
								th Tytuł
						tbody#table
			#zadanie-modal.modal
				#zadanie.modal-content
				.modal-footer
					a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Zamknij
		include templates/footer.pug
		script(src="/js/zadania.js")